@{
    ViewData["Title"] = "Home Page";
    String title = "Xin chào nhóm 1";

    int index = 0;
    List<String> getStudents()
    {
        List<String> students = new List<string>();
        students.Add("Nguyễn Văn Tài");
        students.Add("Trần Thị Liệu");
        students.Add("Nguyễn Văn Ngoan");
        return students;
    }
    List<String> filterStudents(List<String> students, String keyWord)
    {
        var ls = students
                    .Where(e => e.Contains(keyWord))
                    .OrderBy(e => e)
                    .ToList();
        return ls;
    }
    var students = getStudents();
    var keyWord = Context.Request.Query["keyWord"];
    if (!string.IsNullOrEmpty(keyWord))
        students = filterStudents(students, keyWord);
}

<div class="text-center text-danger ">
    <h1>@title</h1>
    <h2>
        DANH SÁCH SINH VIÊN
    </h2>
    <form method="get">
        <div class="mb-3 row">
            <label for="keyWord" class="col-sm-2 col-form-label">Tìm kiếm</label>
            <div class="col-sm-10">
                <input value="@keyWord" type="text" 
                        name="keyWord" class="form-control" id="keyWord">
            </div>
        </div>
    </form>
    <table class="table table-hover table-bordered border-danger text-start text-danger">
        <tr class="bg-success text-center text-black">
            <th>STT</th>
            <th>Họ tên</th>
        </tr>
        @foreach (var student in students)
        {
            index++;
            <tr>
                <td>@index</td>
                <td>@student</td>
            </tr>
        }
    </table>
</div>
